* {
  box-sizing: border-box;
}

body {
  background-image: url(Blurcloud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
  line-height: 32px;
}

#footer {
  height: 50px;
  width: 100%;
  background-color: green;
  position: fixed;
  bottom: 0%;
  left: 0%;
}

#footertext {
  color: white;
  font-weight: bold;
  font-size: 20px;
  bottom: 20;
  text-align: center;
}

#navbar {
  width: 100%;
  height: 80px;
  margin: 0;
  background-image: url("https://github.com/ejbronze/ejbronze.github.io/blob/master/Images/woodplanks.jpg?raw=true");
  position: fixed;
  top: 0px;
  left: 0px;
}

#myname {
  font-family: "Monoton", cursive;
  font-size: 40px;
  position: fixed;
  margin: 0px;
  top: 20px;
  left: 40px;
  color: #f3e598;
}
#navname {
  position: fixed;
  top: 30px;
  left: 35px;
  width: 230px;
  height: 50px;
}

#profilepic {
  position: static; /* position: fixed; */
  margin-top: 180px;
  margin-left: 40px;
  border: solid 10px #e7801f;
  width: 220px;
  height: 220px;
}

#contactbtn button {
  background-color: #629fb8; /* Green background */
  border: 1px solid rgb(77, 132, 146); /* Green border */
  color: white; /* White text */
  padding: 10px 24px;
  cursor: pointer; /* Pointer/hand icon */
  margin-top: 35px;
  float: right;
  font-size: 20px;
}

#contactbtn button:hover {
  background-color: rgb(77, 132, 146); /* Green background */
  border: 1px solid #629fb8; /* Green border */
  color: white; /* White text */
}

.underline {
  text-decoration: none;
}

#aboutmebox {
  font-size: 30px;
  font-family: "Fredericka the Great", cursive;
  background-color: #757a7e;
  width: 220px;
  height: 50px;
  margin-left: 40px;
  margin-top: 0px;
  position: fixed;
  text-align: center;
  color: white;
  border: black solid 2px;
  padding: 8px;
}

#paragraphs {
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  background-color: aliceblue;
  /* position: relative; */
  margin-left: 300px;
  margin-top: -280px;
  width: 930px;
}
