#myname {
  font-family: "Major Mono Display", monospace;
  color: white;
  text-shadow: 3px 4px #0092fe;
}

#profilepic {
  width: 284px;
  height: 284px;
  margin: auto;
  display: block;
}

.jumbotron {
  border: solid 10px #0092fe;
  background-color: lightgrey !important;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 8px solid #0092fe;
  border-radius: 5px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.img-thumbnail {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#homework {
  font-family: "Major Mono Display", monospace;
}
